<h3> 
    Welcome @TempData["UserName"].ToString() to Admin Home Page;
</h3>

<h4>
    @Html.ActionLink("Get All courses", "GetAllCourse")
</h4>

<h4>
    @Html.ActionLink("Register Admin", "RegisterAdmin")
</h4>
