
@{
    ViewBag.Title = "abc";
}

<body>


    @using (Html.BeginForm())
    {
        <form method="post" asp-controller="User" asp-action="SearchCourses">
            <h2>Get your Product :</h2>
            <input type="text" placeholder="Search Product.." name="ProductName" />
            <input type="submit" value="Search" />
            <br />
            <br />
        </form>
    }

    </body>

