
@{
    ViewBag.Title = "abc";
}

<body>


    @using (Html.BeginForm())
    {
        <form method="post" asp-controller="User" asp-action="SearchCourses">
            <h2>Search Courses :</h2>
            <input type="text" placeholder="Search Courses" name="ProductName" />
            <input type="submit" value="Search" />
            <br />
            <br />
            
        </form>
    }
    
    </body>

