
@{
    ViewBag.Title = "CourseStats";
}

<h2>CourseStats</h2>

<input type="button" id="btnGet" value="noOfStudentEnrolled" />

<input type="button" id="btnGet1" value="AveragePartings" />

<dialog id="dialog" style="position:absolute;top:50px;right:20px; padding:8px;color:darkgreen"></dialog>

<script type="text/javascript">
    const setDialog = (msg) => {
        const dialog = document.getElementById("dialog");
        dialog.innerHTML = msg;
        dialog.open = true
        setTimeout(() => { dialog.open = false; }, 5000)
    }
    </script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script type="text/javascript">
    $(function () {

            $("#btnGet").click(function () {
                $.ajax({
                    type: "GET",
                    url: "/Trainer/noOfStudentEnrolled",
                   /* data: { name: $("#txtName").val() },*/
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function () {
                        setDialog("noOfStudentEnrolled = " + @TempData["noOfStudentEnrolled"]);
                    },
                    failure: function () {
                        alert("failure");
                    },
                    error: function () {
                        alert("error");
                    }
                });
            });
    });

    @*$(function () {

            $("#btnGet1").click(function () {
                $.ajax({
                    type: "GET",
                    url: "/Trainer/AverageRatings",
                   /* data: { name: $("#txtName").val() },*/
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function () {
                        alert("AverageRatings = " + @TempData["averageRatings"]);
                    },
                    failure: function () {
                        alert("failure");
                    },
                    error: function () {
                        alert("error");
                    }
                });
            });
        });*@
</script>

<script type="text/javascript">
    $(function () {

            $("#btnGet1").click(function () {
                $.ajax({
                    type: "GET",
                    url: "/Trainer/AverageRatings",
                   /* data: { name: $("#txtName").val() },*/
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function () {
                        if (@TempData["averageRatings"] == 0) {
                            setDialog("course not purchased by any student")
                        }
                        else

                            setDialog("AverageRatings = " + @TempData["averageRatings"]);
                    },
                    failure: function () {
                        alert("failure");
                    },
                    error: function () {
                        alert("error");
                    }
                });
            });
        });
</script>